header{
    padding:none;
margin:none;
    height: 5rem;
    width: 100vw;
    display: flex;
    flex-direction: row;
    /* border:1px solid red; */
}

.header-wrapper-one{
    width:60vw;
    height: inherit;
    /* border:1px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.header-wrapper-two{
    width:40vw;
    height: inherit;
    /* border:1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.search-bar Input{
    width: 33rem;
}

.search-bar{
    margin-left:60px;
}
